{% extends "base.html" %}

{% block title %}麻雀戦績結果{% endblock %}

{% block content %}
        <h1 class="my-4">プレイヤー追加</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">プレイヤー名</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="プレイヤー名を入力" required>
            </div>
            <button type="submit" class="btn btn-primary">追加</button>
        </form>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/sw.js')
              .then(registration => {
                console.log('Service Worker registered with scope:', registration.scope);
              })
              .catch(err => {
                console.log('Service Worker registration failed:', err);
              });
          });
        }
    </script>      
{% endblock %}
