{% extends "base.html" %}

{% block title %}麻雀戦績結果{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <h2>プレイヤー名の編集</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">新しい名前</label>
                <input type="text" name="name" class="form-control" value="{{ player.name }}" required>
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
            <a href="{{ url_for('players') }}" class="btn btn-secondary">戻る</a>
        </form>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/sw.js')
            .then(registration => {
                console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(err => {
                console.log('Service Worker registration failed:', err);
            });
        });
        }
    </script>
{% endblock %}